<section class="disc-influencer">
    <div class="container">
        <div class="influencer-group">
         <h1 class="influencer-title">Wediscoverhub influencer around the world</h1>
         <div class="our-influencer"> 
         <div class="row m-0">
        <div class="col-md-4 pad-65">
            <div class="grid-group border-white">
        <p>Total Influencer</p>
        <h4>1000+</h4>
        </div>
        </div>
        <div class="col-md-4 pad-65">
            <div class="grid-group border-white">
         <p>New Influencer</p>
         <h4>100+</h4>
         </div>
        </div>
        <div class="col-md-4 pad-65">
            <div class="grid-group">
        <p>Influencer Regions</p>
        <h4>20+ Regions</h4>
        </div>
        </div>
         </div>
        </div>
        </div>
        </div>

        <swiper
        [slidesPerView]="4"
        [spaceBetween]="10"
        [breakpoints]="{
            '0': {
                slidesPerView: 1,
                spaceBetween: 10
              },
          '640': {
            slidesPerView: 2,
            spaceBetween: 10
          },
          '768': {
            slidesPerView: 4,
            spaceBetween: 10
          },
          '1024': {
            slidesPerView: 8,
            spaceBetween: 10
          }
        }"
        class="mySwiper top-card"
      >
      <ng-template swiperSlide class="sliders">
        <img src="../../../assets/images/our_influencer_1.png"  class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Fashion</h5>
            <p class="view-1">Hobbies</p>
            </div>
        </ng-template
    ><ng-template swiperSlide class="sliders mt-0">
        <img src="../../../assets/images/our_influencer_2.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1">Travel</p>
            </div>
        </ng-template
    ><ng-template swiperSlide class="sliders">
        <img src="../../../assets/images/our_influencer_3.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1">Travel</p>
            </div>
        </ng-template
        ><ng-template swiperSlide class="sliders mt-0">
            <img src="../../../assets/images/our_influencer_4.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1" href="/">Healthcare</p>
            </div>
        </ng-template
    ><ng-template swiperSlide class="sliders">
        <img src="../../../assets/images/our_influencer_5.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1">Mum & Baby</p>
            </div>
        </ng-template
    ><ng-template swiperSlide class="sliders mt-0">
        <img src="../../../assets/images/our_influencer_6.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1">Travel</p>
            </div>
        </ng-template
    ><ng-template swiperSlide class="sliders">
        <img src="../../../assets/images/our_influencer_7.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1">Hobbies</p>
            </div>
        </ng-template
    ><ng-template swiperSlide class="sliders mt-0">
        <img src="../../../assets/images/our_influencer_8.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1">Lifestyle</p>
            </div>
        </ng-template
    ><ng-template swiperSlide class="sliders">
        <img src="../../../assets/images/our_influencer_9.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1">Pet</p>
            </div>
    </ng-template>
    <ng-template swiperSlide class="sliders mt-0">
        <img src="../../../assets/images/our_influencer_10.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1">Travel</p>
            </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
        <img src="../../../assets/images/our_influencer_11.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1">Lifestyle</p>
            </div>
    </ng-template>
      </swiper>
      <swiper
      [slidesPerView]="4"
      [spaceBetween]="10"
      [breakpoints]="{
          '0': {
              slidesPerView: 1,
              spaceBetween: 10
            },
        '640': {
          slidesPerView: 2,
          spaceBetween: 10
        },
        '768': {
          slidesPerView: 4,
          spaceBetween: 10
        },
        '1024': {
          slidesPerView: 8,
          spaceBetween: 10
        }
      }"
      class="mySwiper top-card-1"
    >
    <ng-template swiperSlide class="sliders">
        <img src="../../../assets/images/our_influencer_9.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1">Pet</p>
            </div>
    </ng-template>
    <ng-template swiperSlide class="sliders mt-0">
        <img src="../../../assets/images/our_influencer_10.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1">Travel</p>
            </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
        <img src="../../../assets/images/our_influencer_11.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1">Lifestyle</p>
            </div>
    </ng-template>
    <ng-template swiperSlide class="sliders mt-0">
        <img src="../../../assets/images/our_influencer_12.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1">Tech</p>
            </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
        <img src="../../../assets/images/our_influencer_13.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1">Travel</p>
            </div>
        </ng-template>
        <ng-template swiperSlide class="sliders mt-0">
        <img src="../../../assets/images/our_influencer_14.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">L5rem Ipsum</h5>
            <p class="view-1">Lifestyle</p>
            </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
        <img src="../../../assets/images/our_influencer_15.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1">Mum & Baby</p>
            </div>
        </ng-template>
    <ng-template swiperSlide class="sliders mt-0">
        <img src="../../../assets/images/our_influencer_16.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1" >Tech</p>
        </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
        <img src="../../../assets/images/our_influencer_17.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1">Hobbies</p>
        </div>
    </ng-template>
    <ng-template swiperSlide class="sliders mt-0">
        <img src="../../../assets/images/our_influencer_17.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1">Pet</p>
        </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
        <img src="../../../assets/images/our_influencer_15.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1">Travel</p>
        </div>
    </ng-template>
    <ng-template swiperSlide class="sliders mt-0">
        <img src="../../../assets/images/our_influencer_11.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1">Tech</p>
            </div>
        </ng-template>
    <ng-template swiperSlide class="sliders">
        <img src="../../../assets/images/our_influencer_4.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1">Healthcare</p>
            </div>
        </ng-template
        ><ng-template swiperSlide class="sliders mt-0">
        <img src="../../../assets/images/our_influencer_5.png" class="w-100 h-100"/>
        <div class="slider-text-1">
            <h5 class="title">Lorem Ipsum</h5>
            <p class="view-1">Lifestyle</p>
        </div>
    </ng-template>
    </swiper>    
</section>
