<section class="banner-1">
    <div class="container-fluid pad-0">
        <div class="discover-banner-2">
            <div class="container pad-1">
                <div class="discover-main">
                    <div class="discover-banner-group">
                        <div class="row d-img-block justify-content-between m-0">
                            <div class="col-md-5 col-auto mar-auto">
                                <h1 class="discover-banner-title">We Meet</h1>
                                <p class="discover-banner-text-1">Learn from the best. Book meeting slot and setup the
                                    group meeting</p>
                                <button class="btn btn-get-start">Get Started</button>
                            </div>
                            <div class="col-md-6 col-auto mt-60">
                                <div class="discover-banner-img2">
                                    <img src="../../../assets/images/Wemeet_1.png" class="img-1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>