<section class="wemeet-join">
    <div class="container">
        <div>
            <h1 class="wemeet-join-title">Click, Login, Join</h1>
            <div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="card user-data">
                            <h5 class="card-title">Lorem Ipsum is simply dummy text of the printing</h5>
                            <div class="user-city">
                                <div>
                                    <img src="../../../assets/images/map-1.png" class="me-2" width="20" height="20">
                                    <span class="text-muted">Singapore</span>
                                </div>
                                <div>
                                    <img src="../../../assets/images/eye.png" class="me-2" width="20" height="20">
                                    <span class="text-muted">300+</span>
                                </div>
                            </div>
                            <div class="user-avatar">
                                <img src="../../../assets/images/Wemeet_card_1.png" alt="wemeet-1">
                                <div class="ml-20">
                                    <h6>Lorem Ipsum</h6>
                                    <span>Lifestyle</span>
                                </div>
                            </div>
                            <div class="join-btn">
                                <button class="btn btn-join">Join Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="card user-data">
                            <h5 class="card-title">Lorem Ipsum is simply dummy text of the printing</h5>
                            <div class="user-city">
                                <div>
                                    <img src="../../../assets/images/map-1.png" class="me-2" width="20" height="20">
                                    <span class="text-muted">Japan</span>
                                </div>
                                <div>
                                    <img src="../../../assets/images/eye.png" class="me-2" width="20" height="20">
                                    <span class="text-muted">100+</span>
                                </div>
                            </div>
                            <div class="user-avatar">
                                <img src="../../../assets/images/Wemeet_card_2.png" alt="wemeet-1">
                                <div class="ml-20">
                                    <h6>Lorem Ipsum</h6>
                                    <span>Travel</span>
                                </div>
                            </div>
                            <div class="join-btn">
                                <button class="btn btn-join">Join Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="card user-data">
                            <h5 class="card-title">Lorem Ipsum is simply dummy text of the printing</h5>
                            <div class="user-city">
                                <div>
                                    <img src="../../../assets/images/map-1.png" class="me-2" width="20" height="20">
                                    <span class="text-muted">Malaysia</span>
                                </div>
                                <div>
                                    <img src="../../../assets/images/eye.png" class="me-2" width="20" height="20">
                                    <span class="text-muted">150+</span>
                                </div>
                            </div>
                            <div class="user-avatar">
                                <img src="../../../assets/images/Wemeet_card_3.png" alt="wemeet-1">
                                <div class="ml-20">
                                    <h6>Lorem Ipsum</h6>
                                    <span>Hobbies</span>
                                </div>
                            </div>
                            <div class="join-btn">
                                <button class="btn btn-join">Join Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="card user-data">
                            <h5 class="card-title">Lorem Ipsum is simply dummy text of the printing</h5>
                            <div class="user-city">
                                <div>
                                    <img src="../../../assets/images/map-1.png" class="me-2" width="20" height="20">
                                    <span class="text-muted">Singapore</span>
                                </div>
                                <div>
                                    <img src="../../../assets/images/eye.png" class="me-2" width="20" height="20">
                                    <span class="text-muted">500+</span>
                                </div>
                            </div>
                            <div class="user-avatar">
                                <img src="../../../assets/images/Wemeet_card_4.png" alt="wemeet-1">
                                <div class="ml-20">
                                    <h6>Lorem Ipsum</h6>
                                    <span>Lifestyle</span>
                                </div>
                            </div>
                            <div class="join-btn">
                                <button class="btn btn-join">Join Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>