<section class="talented-influencer">
  <div class="container">
    <h1 class="talented-title">A glimpse of our talented influencers</h1>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="card">
          <img src="../../../assets/images/We_intro_1.png" class="card-img-top" alt="We_intro_1">
          <div class="card-body">
            <div class="user-avatar-1">
              <img src="../../../assets/images/Wemeet_card_1.png" alt="wemeet-1" height="60" width="60">
              <div class="ml-20">
                <h6 class="user-name">Lorem Ipsum is simply dummy text</h6>
                <span>Lorem Ipsum</span>
              </div>
            </div>

            <div class="user-city-1">
              <div>
                <img src="../../../assets/images/map-1.png" class="me-2" width="20" height="20">
                <span class="text-muted">Singapore</span>
              </div>
              <div>
                <img src="../../../assets/images/eye.png" class="me-2" width="20" height="20">
                <span class="text-muted">300+</span>
              </div>
            </div>
            <div class="view1-btn">
              <button class="btn btn-view1">View</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 mt-30">
        <div class="card">
          <img src="../../../assets/images/We_intro_2.png" class="card-img-top" alt="We_intro_2">
          <div class="card-body">
            <div class="user-avatar-1">
              <img src="../../../assets/images/We_intro_card1.png" alt="wemeet-1" height="60" width="60">
              <div class="ml-20">
                <h6 class="user-name">Lorem Ipsum is simply dummy text</h6>
                <span>Lorem Ipsum</span>
              </div>
            </div>

            <div class="user-city-1">
              <div>
                <img src="../../../assets/images/map-1.png" class="me-2" width="20" height="20">
                <span class="text-muted">Singapore</span>
              </div>
              <div>
                <img src="../../../assets/images/eye.png" class="me-2" width="20" height="20">
                <span class="text-muted">300+</span>
              </div>
            </div>
            <div class="view1-btn">
              <button class="btn btn-view1">View</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 mt-30 mt-29">
        <div class="card">
          <img src="../../../assets/images/We_intro_3.png" class="card-img-top" alt="We_intro_3">
          <div class="card-body">
            <div class="user-avatar-1">
              <img src="../../../assets/images/Wemeet_card_2.png" alt="wemeet-1" height="60" width="60">
              <div class="ml-20">
                <h6 class="user-name">Lorem Ipsum is simply dummy text</h6>
                <span>Lorem Ipsum</span>
              </div>
            </div>

            <div class="user-city-1">
              <div>
                <img src="../../../assets/images/map-1.png" class="me-2" width="20" height="20">
                <span class="text-muted">Singapore</span>
              </div>
              <div>
                <img src="../../../assets/images/eye.png" class="me-2" width="20" height="20">
                <span class="text-muted">300+</span>
              </div>
            </div>
            <div class="view1-btn">
              <button class="btn btn-view1">View</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 mt-30 mt-29">
        <div class="card">
          <img src="../../../assets/images/We_intro_4.png" class="card-img-top" alt="We_intro_4">
          <div class="card-body">
            <div class="user-avatar-1">
              <img src="../../../assets/images/We_intro_card2.png" alt="wemeet-1" height="60" width="60">
              <div class="ml-20">
                <h6 class="user-name">Lorem Ipsum is simply dummy text</h6>
                <span>Lorem Ipsum</span>
              </div>
            </div>

            <div class="user-city-1">
              <div>
                <img src="../../../assets/images/map-1.png" class="me-2" width="20" height="20">
                <span class="text-muted">Singapore</span>
              </div>
              <div>
                <img src="../../../assets/images/eye.png" class="me-2" width="20" height="20">
                <span class="text-muted">300+</span>
              </div>
            </div>
            <div class="view1-btn">
              <button class="btn btn-view1">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>