<section class="banner">
    <div class="container-fluid pad-0">
        <div class="discover-banner">
            <div class="container pad-1">
                <div class="discover-main">
                    <div class="discover-banner-group">
                        <div class="row d-img-block justify-content-between m-0">
                            <div class="col-md-4 col-auto mar-auto">
                                <h1 class="discover-banner-title">We Intro</h1>
                                <p class="discover-banner-text-1">Introducing our talented influencers around the world
                                </p>
                                <button class="btn btn-get-start">Be an influencer</button>
                            </div>
                            <div class="col-md-7 col-auto mt-60">
                                <img src="../../../assets/images/Weintro_banner.png" class="intro-banner-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>