<section class="main">
    <div class="container">
        <h1 class="discover-thing-title">Discover the things you want</h1>
        <div class="discover-things">
            <div class="hobbies">
                    <div class="row">
                <div class="col-md-6 col-auto discover-things-img">
                <img src="../../../assets/images/Hobbies.png" alt="Hobbies" class="hobbie-img" />
            </div>
            <div class="col-md-6 col-auto margin-auto">
                <div class="hobbie-group">
                    <h1 class="hobbies-title">Hobbies</h1>
                    <p class="hobbie-text">A hobby can benefit you whether you use it to help with work or life stress
                        or open you up to think creatively.</p>
                </div>
            </div>
            </div>
            </div>

            <div class="hobbies">
                <div class="row">
             <div class="col-md-6 col-auto margin-auto order-2 order-md-1">
                <div class="outdoor-group">
                    <h1 class="hobbies-title">Outdoors</h1>
                    <p class="hobbie-text">Have you felt guilty about not being able to spend enough time with your
                        family? We have exciting and fun outdoor activities for you to do with them.</p>
                </div>
                </div>
                <div class="col-md-6 col-auto order-1 order-md-2 discover-things-img">
                <img src="../../../assets/images/Outdoors.png" alt="Outdoors" class="hobbie-img" />
            </div>
            </div>
            </div>

            <div class="hobbies">
                    <div class="row">
                    <div class="col-md-6 col-auto discover-things-img">
                    <img src="../../../assets/images/Knowledge.png" alt="Knowledge" class="hobbie-img" />
                    </div>
                    <div class="col-md-6 col-auto margin-auto">
                    <div class="hobbie-group">
                        <h1 class="hobbies-title">Knowledge</h1>
                        <p class="hobbie-text">We develop practical learning skills to enrich your knowledge in Home Skills,
                            Hobby and Leisure, Music, Computer Technology, and Business Improvements.</p>
                        </div>
                    </div>
                    </div>
            </div>

            <div class="hobbies">
                <div class="row">
                <div class="col-md-6 col-auto margin-auto order-2 order-md-1">
                <div class="outdoor-group">
                    <h1 class="hobbies-title">How to</h1>
                    <p class="hobbie-text">We give a practical method of instruction and advice.</p>
                </div>
                </div>
                <div class="col-md-6 col-auto order-1 order-md-2 discover-things-img">
                <img src="../../../assets/images/How to.png" alt="Howto" class="hobbie-img" />
            </div>
            </div>
        </div>
        </div>
    </div>
</section>