<footer>
    <div class="container-fluid pad-0">
        <div class="footer-group">
            <div class="container">
        <div class="row pl-15">
          <div class="col-12 col-md-6 col-lg-3">
              <h1 class="contect-us">Contact Info</h1>
            <div class="address">
            <img src="../../../assets/images/icons8-visit-32.png" class="map me-2" alt="location"/>
            <address>1 Sophia Road, #07-09 Peace Centre, 228149 Singapore.</address>
            </div>
            <div class="e-mail">
           <img src="../../../assets/images/icons8-email-32.png" class="email me-2" alt="e-mail"/>
           <p>info@wediscoverhub.com</p>
            </div>
            <div class="phone">
                <img src="../../../assets/images/icons8-phone-32 (1).png" class="phone me-2" alt="phone"/>
                <p>+65 415418151</p>
                 </div>
                 <div class="d-flex mt-52">
                <a href="https://www.facebook.com/" target="_blank"><img src="../../../assets/images/icons8-facebook-32.png" class="me-4" alt="facebook"/></a>
                  <a href="https://www.instagram.com/" target="_blank"><img src="../../../assets/images/icons8-instagram-32.png" alt="instagram"/></a>
                 </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 mt-40">
            <h1 class="quick-links">Quick Links</h1>
            <div class="footer-text">
            <p>Home</p>
            <p>We Discover</p>
            <p>We Meet</p>
            <p> We Shop</p>
            <p>We Into</p>
            <p>We Grow</p>
        </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mt-40">
           <h1 class="category">Category</h1>
           <div class="footer-text">
           <p>Beauty</p> 
           <p>Entertainment</p>
           <p> F&B</p>
           <p>Fashion</p>
           <p>Lifestyle</p>
           <p>Mum & Baby</p>
           <p>Pets</p>
           <p>Tech</p>
           <p>Travel</p>
           <p>Hobbies</p>
           <p> Healthcare</p>
           <p>Religion</p>
           </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mt-40">
            <h1 class="customer-care">Customer care</h1>
            <div class="footer-text">
            <p>Terms of service</p>
            <p>Privacy policy</p>
            </div>
        </div>
        </div>
        </div>
        </div>
    </div>
</footer>
<div class="copy-right">
<p class="m-0">Copyright © 2022 WEDISCOVER PTE LTD</p>
<div class="bank-cards">
<a href="https://www.visa.co.in/pay-with-visa/find-a-card/credit-cards.html"><img src="../../../assets/images/icons8-visa-40.png" alt="visa" class="me-2"/></a>
<a href="https://www.mastercard.co.in/en-in.html"><img src="../../../assets/images/icons8-mastercard-40 (1).png" alt="mastercard" class="me-2"/></a>
<a href="https://www.paypal.com/in/webapps/mpp/home"><img src="https://cdn-icons-png.flaticon.com/512/196/196566.png" alt="paypal" class="paypal me-2"/></a>
</div>
</div>