<section>
    <div class="container">
        <div class="search">
            <h1 class="search-title">Search 100+ influencer on Wediscoverhub</h1>
            <div class="mt-60">
                <div class="input-group d-block">
                    <div class="input-search">
                        <img src="../../../../assets/images/search-icon.png" alt="search" class="search-input-icon" height="25" width="25"/>
                        <input type="email" class="form-control input-tab" placeholder="Find an influencer you like">
                        <button type="button" class="btn search-btn">Search</button>
                    </div>
                  </div>
            </div>

            <div class="interested">
                <h1 class="interested-title">Are you interested?</h1>
            <div class="btn-block">
                <button class="btn btn-login">Login</button>
                <button class="btn btn-beinfluencer">Be an Influencer</button>
            </div>

            </div>
        </div>
    </div>
</section>
