<div class="card-images">
  <swiper
    [slidesPerView]="4"
    [slidesPerGroup]="4"
    [loop]="true"
    [loopFillGroupWithBlank]="true"
    [pagination]="{
      clickable: true
    }"
    [navigation]="true"
    [breakpoints]="{
      '568': {
        slidesPerView: 1
      },
      '768': {
        slidesPerView: 2
      },
      '1024': {
        slidesPerView: 4
      }
    }"
    class="mySwiper"
  >
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90409.png" class="card-img1" alt="img-1"/>
      <div class="slider-text">
      <h3>Beauty</h3>
      <a class="view" href="/">View</a>
      </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90410.png" class="card-img1" alt="img-1"/>
      <div class="slider-text">
        <h3>Entertainment</h3>
        <a class="view" href="/">View</a>
        </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90411.png" class="card-img1" alt="img-1"/>
      <div class="slider-text">
        <h3>F & B</h3>
        <a class="view" href="/">View</a>
        </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90412.png" class="card-img1" alt="img-1"/>
      <div class="slider-text">
        <h3>Fashion</h3>
        <a class="view" href="/">View</a>
        </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90409.png" class="card-img1" alt="img-1"/>
      <div class="slider-text">
        <h3>Beauty</h3>
        <a class="view" href="/">View</a>
        </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90410.png" class="card-img1" alt="img-1"/>
      <div class="slider-text">
        <h3>Entertainment</h3>
        <a class="view" href="/">View</a>
        </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90411.png" class="card-img1" alt="img-1"/>
      <div class="slider-text">
        <h3>F & B</h3>
        <a class="view" href="/">View</a>
        </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90412.png" class="card-img1" alt="img-1"/>
      <div class="slider-text">
        <h3>Fashion</h3>
        <a class="view" href="/">View</a>
        </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90409.png" alt="img-1" class="card-img1"/>
      <div class="slider-text">
        <h3>Beauty</h3>
        <a class="view" href="/">View</a>
        </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90410.png" alt="img-1" class="card-img1"/>
      <div class="slider-text">
        <h3>Entertainment</h3>
        <a class="view" href="/">View</a>
        </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90411.png" alt="img-1" class="card-img1"/>
      <div class="slider-text">
        <h3>F & B</h3>
        <a class="view" href="/">View</a>
        </div>
    </ng-template>
    <ng-template swiperSlide class="sliders">
      <img src="../../../../assets/images/Group 90412.png" alt="img-1" class="card-img1"/>
      <div class="slider-text">
        <h3>Fashion</h3>
        <a class="view" href="/">View</a>
        </div>
    </ng-template>
  </swiper>
</div>
















<!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true" data-bs-slide="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner carousel-img">
        <div class="row">
            <div class="col-12 col-md-3">
      <div class="carousel-item cards-tab active">
    <img src="../../../../assets/images/Group 90409.png" height="500" class="w-100" alt="Random first slide">
    <img src="../../../../assets/images/Group 90410.png" height="500" class="w-100" alt="Random second slide">
    <img src="../../../../assets/images/Group 90411.png" height="500" class="w-100" alt="Random third slide">
    <img src="../../../../assets/images/Group 90412.png" height="500" class="w-100" alt="Random third slide">
      </div>
      </div>

      <div class="col-12 col-md-3">
      <div class="carousel-item cards-tab">
    <img src="../../../../assets/images/Group 90409.png" height="500" class="w-100" alt="Random first slide">
    <img src="../../../../assets/images/Group 90410.png" height="500" class="w-100" alt="Random second slide">
    <img src="../../../../assets/images/Group 90411.png" height="500" class="w-100" alt="Random third slide">
    <img src="../../../../assets/images/Group 90412.png" height="500" class="w-100" alt="Random third slide">
      </div>
      </div>

      <div class="col-12 col-md-3">
      <div class="carousel-item cards-tab">
        <img src="../../../../assets/images/Group 90409.png" height="500" class="w-100" alt="Random first slide">
        <img src="../../../../assets/images/Group 90410.png" height="500" class="w-100" alt="Random second slide">
        <img src="../../../../assets/images/Group 90411.png" height="500" class="w-100" alt="Random third slide">
        <img src="../../../../assets/images/Group 90412.png" height="500" class="w-100" alt="Random third slide">
      </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="carousel-item cards-tab">
          <img src="../../../../assets/images/Group 90409.png" height="500" class="w-100" alt="Random first slide">
          <img src="../../../../assets/images/Group 90410.png" height="500" class="w-100" alt="Random second slide">
          <img src="../../../../assets/images/Group 90411.png" height="500" class="w-100" alt="Random third slide">
          <img src="../../../../assets/images/Group 90412.png" height="500" class="w-100" alt="Random third slide">
        </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div> -->
















<!-- <ngb-carousel class="row">
        <ng-template ngbSlide>
      <div class="picsum-img-wrapper col-md-3 col-lg-auto">
        <img src="../../../../assets/images/Group 90409.png" height="500" width="315px" alt="Random first slide">
        <img src="../../../../assets/images/Group 90410.png" height="500" width="315px" alt="Random second slide">
        <img src="../../../../assets/images/Group 90411.png" height="500" width="315px" alt="Random third slide">
        <img src="../../../../assets/images/Group 90412.png" height="500" width="315px" alt="Random third slide">  
    </div>
</ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper col-md-3 col-lg-auto">
        <img src="../../../../assets/images/Group 90409.png" height="500" width="315px"  alt="Random first slide">
        <img src="../../../../assets/images/Group 90410.png" height="500" width="315px" alt="Random second slide">
        <img src="../../../../assets/images/Group 90411.png" height="500" width="315px" alt="Random third slide">
        <img src="../../../../assets/images/Group 90412.png" height="500" width="315px" alt="Random third slide">
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper col-md-3 col-lg-auto">
        <img src="../../../../assets/images/Group 90409.png" height="500" width="315px" alt="Random first slide">
        <img src="../../../../assets/images/Group 90410.png" height="500" width="315px" alt="Random second slide">
        <img src="../../../../assets/images/Group 90411.png" height="500" width="315px" alt="Random third slide">
        <img src="../../../../assets/images/Group 90412.png" height="500" width="315px" alt="Random third slide">
    </div>
</ng-template>
  </ngb-carousel> -->