<header>
    <nav class="navbar navbar-expand-lg bg-white">
        <div class="container">
            <a class="navbar-brand logo" href="#">
                <img src="https://wediscoverhub.com/images/logo.png?1" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item me-22">
                        <a routerLink="/" class="nav-link active nav-tab home-page" aria-current="page">Home</a>
                    </li>
                    <li class="nav-item me-22">
                        <a routerLink="/WeDiscover" class="nav-link nav-tab">We Discover</a>
                    </li>
                    <li class="nav-item me-22">
                        <a class="nav-link nav-tab" routerLink="/WeMeet">We Meet</a>
                    </li>
                    <li class="nav-item me-22">
                        <a class="nav-link nav-tab" routerLink="/WeShop">We Shop</a>
                    </li>
                    <li class="nav-item me-22">
                        <a class="nav-link nav-tab" routerLink="/WeIntro">We Intro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-tab" routerLink="/WeGrow">We Grow</a>
                    </li>
                </ul>
                <form class="d-flex form-items" role="search">
                    <img class="search-img me-2" src="../../assets/images/search-icon.png" />
                    <input class="form-control me-2 search-tab d-none" type="search" placeholder="Search"
                        aria-label="Search">
                    <button class="btn btn-white login">Log In</button>
                    <button class="btn btn-primary influencer" type="submit">Be an influencer</button>
                </form>
            </div>
        </div>
    </nav>
</header>
