<section class="banner">
    <div class="container-fluid pad-0">
        <div class="discover-banner">
            <div class="container pad-1">
                <div class="discover-main">
                    <div class="discover-banner-group">
                        <div class="row d-img-block justify-content-between m-0">
                        <div class="col-md-6 col-auto">
                        <h1 class="discover-banner-title">We Discover</h1>
                        <p class="discover-banner-text">Discover new skills and know about master and lead influencers</p>
                        <button class="btn btn-get-start">Get Started</button>
                    </div>
                    <div class="col-md-auto col-auto">
                        <div class="discover-banner-img1">
                            <img src="../../../assets/images/discover_img2.png" class="discover-img-2"  />
                            <img src="../../../assets/images/discover_img1.png" class="discover-img-1" />
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
