<section class="banner">
    <div class="container-fluid pad-0">
        <div class="discover-banner">
            <div class="container pad-1">
                <div class="discover-main">
                    <div class="discover-banner-group">
                        <div class="row d-img-block justify-content-between m-0">
                            <div class="col-md-6 col-auto mar-auto">
                                <h1 class="discover-banner-title">We Discover</h1>
                                <p class="discover-banner-text">Discover new skills and know about master and lead
                                    influencers</p>
                                <button class="btn btn-get-start">Get Started</button>
                            </div>
                            <div class="col-md-6 col-auto mt-50">
                                <img src="../../../assets/images/we_discover_banner1.png" class="w-100" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>