.we-shop{
    margin-top: 100px;
    /* border-bottom: 2px solid gainsboro; */
}
.shop-title{
    text-align: center;
}
.shop-name{
    color: #1A92CF;
}

.discover-tab{
    justify-content: start;
    /* border: 0; */
}
.nav-tabs{
    --bs-nav-tabs-link-active-color: #1A92CF;
    --bs-nav-tabs-link-active-border-color: white white #1A92CF;
    --bs-nav-tabs-border-width: 2px;
}
.nav-link{
  --bs-nav-link-color : black;
  color: var(--bs-nav-link-color);
}

.category{
    background-color: #FAFBEF;
    padding: 25px 50px;
}
.border-silver{
    padding-bottom: 25px;
    border-bottom: 2px solid #8080806e;
}
.form-check{
    margin-top: 20px;
}
.form-check-label{
    margin: 5px 20px;
}
.form-check-input{
    height: 25px;
    width: 25px;
    /* background-color: #FAFBEF; */
}
.mt-50{
    margin-top: 50px;
    border: 0;
}
.mt-92{
    margin-top: 92px;
}









