<section class="we-shop">
  <div class="container">
    <h1 class="shop-title">Shop with <span class="shop-name">Wediscoverhub</span></h1>
    <div class="row">
      <div class="col-md-3 mt-92">
        <div class="category">
          <h4 class="category-title border-silver">Category</h4>
          <div class="form-check border-silver">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Learning
            </label>
          </div>
          <div class="form-check border-silver">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Lifestyle
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Tech
            </label>
          </div>
        </div>
      </div>

      <div class="col-md-9 mt-40">
        <ul ngbNav #nav="ngbNav" class="nav-tabs discover-tab">
          <li [ngbNavItem]="1">
            <a ngbNavLink class="nav-link-item">All</a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-md-4" *ngFor="let n of shopcard(3)">
                  <div class="card mt-50" *ngFor="let item of images">
                    <img [src]="item.img2" class="w-100">
                    <!-- <img src="../../../assets/images/Weshop_item1.png" class="card-img-top" alt="...">         -->
                    <div class="card-body">
                      <h5>Product name</h5>
                      <span class="card-text me-2">$260.00</span>
                      <span class="text-decoration-line-through">$260.00</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink class="nav-link-item">Featured (20)</a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-md-4" *ngFor="let n of shopcard(12)">
                  <div class="card mt-50">
                    <img src="../../../assets/images/Weshop_item2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5>Product name</h5>
                      <span class="card-text me-2">$260.00</span>
                      <span class="text-decoration-line-through">$260.00</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink class="nav-link-item">Latest (10)</a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-md-4" *ngFor="let n of shopcard(12)">
                  <div class="card mt-50">
                    <img src="../../../assets/images/Weshop_item3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5>Product name</h5>
                      <span class="card-text me-2">$260.00</span>
                      <span class="text-decoration-line-through">$260.00</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>



  </div>
</section>