<section class="influencer-meeting">
    <div class="green-bg"></div>
    <div class="container">
        <div class="upcoming-meeting">
        <div class="row justify-content-between">
       <div class="col-md-5 mar-auto">
       <h2 class="fw-bolder">Upcoming influencer meeting</h2>
       <p>Experience you personal favorite influencer in a group meeting</p>
       <button class="btn btn-meet-started">Get Started</button>
       </div>
       <div class="col-md-6 mt-50 position-relative">
       <div class="user_1">
        <div class="user-info">
        <img src="../../../assets/images/Wemeet_card_3.png" height="72" width="72" alt="user-1">
        <div class="ms-2 m-auto">
            <h5 class="user_title">Lorem Ipsum is simply dummy text of the printing</h5>
            <span>Lorem name</span>
        </div>
        <img src="../../../assets/images/notification.png" alt="notification" width="30" height="30">
        </div>
        <div class="user-details">
        <div class="calender">
        <img class="ms-2 me-2" src="../../../assets/images/calendar.png" alt="calender">
        <span>August 12, 2022 at 12:00 A.M</span>
        </div>
        <div class="users">
        <img class="me-2" src="../../../assets/images/user.png" alt="users">
        <span>100 Booking</span>
        </div>
            <img src="../../../assets/images/share_icon.png" class="share_icon" alt="share_icon" width="30" height="30">
        </div>
       </div>

       <div class="user_2">
        <div class="user-info">
        <img src="../../../assets/images/Wemeet_card_4.png" height="72" width="72" alt="user-1">
        <div class="ms-2 m-auto">
            <h5 class="user_title">Lorem Ipsum is simply dummy text of the printing</h5>
            <span>Lorem name</span>
        </div>
        <img src="../../../assets/images/notification.png" alt="notification" width="30" height="30">
        </div>
        <div class="user-details">
            <div class="calender">
            <img class="ms-2 me-2" src="../../../assets/images/calendar.png" alt="calender">
            <span>August 12, 2022 at 12:00 A.M</span>
            </div>
            <div class="users">
            <img class="me-2" src="../../../assets/images/user.png" alt="users">
            <span>250 Booking</span>
            </div>
                <img src="../../../assets/images/share_icon.png" class="share_icon" alt="share_icon" width="30" height="30">
            </div>
       </div>

       <div class="user_3">
        <div class="user-info">
        <img src="../../../assets/images/Wemeet_card_5.png" height="72" width="72" alt="user-1">
        <div class="ms-2 m-auto">
            <h5 class="user_title">Lorem Ipsum is simply dummy text of the printing</h5>
            <span>Lorem name</span>
        </div>
        <img src="../../../assets/images/notification.png" alt="notification" width="30" height="30">
        </div>
        <div class="user-details">
            <div class="calender">
            <img class="ms-2 me-2" src="../../../assets/images/calendar.png" alt="calender">
            <span>August 20, 2022 at 12:00 A.M</span>
            </div>
            <div class="users">
            <img class="me-2" src="../../../assets/images/user.png" alt="users">
            <span>600 Booking</span>
            </div>
            <img src="../../../assets/images/share_icon.png" class="share_icon" alt="share_icon" width="30" height="30">
            </div>
       </div>

       <div class="user_4">
        <div class="user-info">
        <img src="../../../assets/images/Wemeet_card_6.png" height="72" width="72" alt="user-1">
        <div class="m-auto">
            <h5 class="ms-2 user_title">Lorem Ipsum is simply dummy text of the printing</h5>
            <span>Lorem name</span>
        </div>
        <img src="../../../assets/images/notification.png" alt="notification" width="30" height="30">
        </div>
        <div class="user-details">
            <div class="calender">
            <img class="ms-2 me-2" src="../../../assets/images/calendar.png" alt="calender">
            <span>August 22, 2022 at 12:00 A.M</span>
            </div>
            <div class="users">
            <img class="me-2" src="../../../assets/images/user.png" alt="users">
            <span>1000 Booking</span>
            </div>
                <img src="../../../assets/images/share_icon.png" class="share_icon" alt="share_icon" width="30" height="30">
            </div>
       </div>
       </div>
        </div>
    </div>
    </div>
</section>
