<section class="newly-influencer">
    <div class="container-fluid">
        <div>
            <h1 class="weintro-title">Our newly joined influencers family</h1>
             
            <swiper
            [slidesPerView]="4"
            [spaceBetween]="10"
            [breakpoints]="{
                '0': {
                    slidesPerView: 1,
                    spaceBetween: 0
                  },
              '640': {
                slidesPerView: 2,
                spaceBetween: 0
              },
              '768': {
                slidesPerView: 4,
                spaceBetween: 0
              },
              '1024': {
                slidesPerView: 7,
                spaceBetween: 0
              }
            }"
            class="mySwiper top-card"
          >
          <ng-template swiperSlide class="sliders">
            <img src="../../../assets/images/our_influencer_1.png"  class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Fashion</h5>
                <p class="view-1">Hobbies</p>
                </div>
            </ng-template
        ><ng-template swiperSlide class="sliders mt-0">
            <img src="../../../assets/images/our_influencer_2.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1">Travel</p>
                </div>
            </ng-template
        ><ng-template swiperSlide class="sliders">
            <img src="../../../assets/images/our_influencer_3.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1">Travel</p>
                </div>
            </ng-template
            ><ng-template swiperSlide class="sliders mt-0">
                <img src="../../../assets/images/our_influencer_4.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1" href="/">Healthcare</p>
                </div>
            </ng-template
        ><ng-template swiperSlide class="sliders">
            <img src="../../../assets/images/our_influencer_5.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1">Mum & Baby</p>
                </div>
            </ng-template
        ><ng-template swiperSlide class="sliders mt-0">
            <img src="../../../assets/images/our_influencer_6.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1">Travel</p>
                </div>
            </ng-template
        ><ng-template swiperSlide class="sliders">
            <img src="../../../assets/images/our_influencer_7.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1">Hobbies</p>
                </div>
            </ng-template
        ><ng-template swiperSlide class="sliders mt-0">
            <img src="../../../assets/images/our_influencer_8.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1">Lifestyle</p>
                </div>
            </ng-template
        ><ng-template swiperSlide class="sliders">
            <img src="../../../assets/images/our_influencer_9.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1">Pet</p>
                </div>
        </ng-template>
        <ng-template swiperSlide class="sliders mt-0">
            <img src="../../../assets/images/our_influencer_10.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1">Travel</p>
                </div>
        </ng-template>
        <ng-template swiperSlide class="sliders">
            <img src="../../../assets/images/our_influencer_11.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1">Lifestyle</p>
                </div>
        </ng-template>
          </swiper>


          <swiper
          [slidesPerView]="4"
          [spaceBetween]="10"
          [breakpoints]="{
              '0': {
                  slidesPerView: 1,
                  spaceBetween: 0
                },
            '640': {
              slidesPerView: 2,
              spaceBetween: 0
            },
            '768': {
              slidesPerView: 4,
              spaceBetween: 0
            },
            '1024': {
              slidesPerView: 7,
              spaceBetween: 0
            }
          }"
          class="mySwiper top-card-1"
        >
        <ng-template swiperSlide class="sliders">
            <img src="../../../assets/images/our_influencer_9.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1">Pet</p>
                </div>
        </ng-template>
        <ng-template swiperSlide class="sliders mt-0">
            <img src="../../../assets/images/our_influencer_10.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1">Travel</p>
                </div>
        </ng-template>
        <ng-template swiperSlide class="sliders">
            <img src="../../../assets/images/our_influencer_11.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1">Lifestyle</p>
                </div>
        </ng-template>
        <ng-template swiperSlide class="sliders mt-0">
            <img src="../../../assets/images/our_influencer_12.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1">Tech</p>
                </div>
        </ng-template>
        <ng-template swiperSlide class="sliders">
            <img src="../../../assets/images/our_influencer_13.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1">Travel</p>
                </div>
            </ng-template>
            <ng-template swiperSlide class="sliders mt-0">
            <img src="../../../assets/images/our_influencer_14.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">L5rem Ipsum</h5>
                <p class="view-1">Lifestyle</p>
                </div>
        </ng-template>
        <ng-template swiperSlide class="sliders">
            <img src="../../../assets/images/our_influencer_15.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1">Mum & Baby</p>
                </div>
            </ng-template>
        <ng-template swiperSlide class="sliders mt-0">
            <img src="../../../assets/images/our_influencer_16.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1" >Tech</p>
            </div>
        </ng-template>
        <ng-template swiperSlide class="sliders">
            <img src="../../../assets/images/our_influencer_17.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1">Hobbies</p>
            </div>
        </ng-template>
        <ng-template swiperSlide class="sliders mt-0">
            <img src="../../../assets/images/our_influencer_17.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1">Pet</p>
            </div>
        </ng-template>
        <ng-template swiperSlide class="sliders">
            <img src="../../../assets/images/our_influencer_15.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1">Travel</p>
            </div>
        </ng-template>
        <ng-template swiperSlide class="sliders mt-0">
            <img src="../../../assets/images/our_influencer_11.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1">Tech</p>
                </div>
            </ng-template>
        <ng-template swiperSlide class="sliders">
            <img src="../../../assets/images/our_influencer_4.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1">Healthcare</p>
                </div>
            </ng-template
            ><ng-template swiperSlide class="sliders mt-0">
            <img src="../../../assets/images/our_influencer_5.png" class="w-100 h-100"/>
            <div class="slider-text-2">
                <h5 class="title">Lorem Ipsum</h5>
                <p class="view-1">Lifestyle</p>
            </div>
        </ng-template>
        </swiper>   
        </div>
    </div>
</section>
