<section class="banner">
    <div class="container-fluid pad-0">
        <div class="discover-banner">
            <div class="container pad-1">
                <div class="discover-main">
                    <div class="discover-banner-group">
                        <div class="row d-img-block justify-content-between m-0">
                            <div class="col-md-7 col-auto mar-auto">
                                <h1 class="discover-banner-title">WeDiscoverHub is the place to discover influencers
                                </h1>
                                <p class="discover-banner-text">You are in the right place to find an influencer with
                                    the right
                                    match.
                                    We
                                    offer a spectrum of services
                                    from the Third Age Industry for all ages, with no age barrier.</p>
                                <button class="btn btn-get-start">Get Started</button>
                            </div>
                            <div class="col-md-4 col-auto mt-60">
                                <img src="../../../assets/images/discover-banner.png" class="w-100" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>