<section class="how-grow-work">
    <div class="container">
        <h1 class="grow-work-title">How We Grow works</h1>
        <div class="grow-img">
        <img src="../../../assets/images/We_Grow.png" alt="wegrow" class="w-100">
        </div>   
            <div class="row mt-60">
                <div class="col-sm-6 col-md-4 mt-40" *ngFor="let n of growcard(3)">
                  <div class="card grow-cards">
                    <div class="card-body">
                        <div class="circle-1">
                            <div class="circle-2">$</div>
                        </div>
                      <h5 class="card-title card-text-3">Lorem Ipsum is simply dummy text of the printing</h5>         
                    </div>
                  </div>
                </div>
              </div>
        </div>
</section>
