<section class="banner-2">
    <div class="container-fluid pad-0">
        <div class="discover-banner-2">
            <div class="container pad-1">
                <div class="discover-main">
                    <div class="discover-banner-group-2">
                        <div class="row d-img-block justify-content-between m-0">
                            <div class="col-md-4 col-auto mar-auto">
                                <h1 class="discover-banner-title">We Grow</h1>
                                <p class="discover-banner-text-2">Earn and grow yourself by referring you friend and
                                    family with Wediscoverhub</p>
                                <button class="btn btn-get-start">Get Started</button>
                            </div>
                            <div class="col-md-7 col-auto m-75">
                                <img src="../../../assets/images/WeGrowBanner.png" class="intro-banner-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>